/* This file should be reviewed. It's not optimal, but it works for now. */
.navbar {
    background: #1e0e40;
}

.dropdown-menu {
    position: absolute !important;
}

.dark { color: #1e0e40; }
.fuscia { color: #e91e63; }

.dark-bg { background: #1e0e40; }

.btn-primary { background: #7F7FD5 !important; border: 1px #7F7FD5 solid !important;}
.btn-primary:hover { background: #86A8E7 !important; border: 1px #86A8E7 solid !important;}

.page-item.active .page-link {
    background: #e91e63;
    border-color: #e91e63;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem #e9e9e9;
}

a, .page-link, .page-link:hover {
    color: #e91e63;
}
a:hover {
    color: #1e0e40;
}
